@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f9fafb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1 {
  @apply text-center
}

@layer components {
  .dashboard {
    @apply w-full h-screen flex flex-row justify-end relative bg-gray-900
  }

  .home_container {
    @apply w-[calc(100%-80px)] md:w-[calc(100%-256px)] h-screen bg-gray-900 text-gray-200 flex flex-col items-center justify-center overflow-y-scroll
  }

  .sidebar {
    @apply w-20 md:w-64  h-screen bg-black/30 text-gray-200 flex flex-col justify-between py-4 absolute top-0 left-0 z-50
  }

  .sidebar_header {
    @apply w-full text-center font-extrabold text-2xl flex justify-center items-center gap-2 text-gray-200 
  }

  .sidebar_menu {
    @apply w-full h-full flex flex-col gap-5 mt-8 px-6 
  }

  .sidebar_content {
    @apply w-full  overflow-y-auto text-[15px] font-normal cursor-pointer flex justify-between items-center gap-2 transition-all duration-500 ease-in-out px-4 py-2 rounded-md text-gray-300 hover:bg-gray-800 hover:text-gray-300
  }

  .sidebar_content_img {
    @apply w-6 h-6 rounded-full object-cover transition-all duration-300 ease-in-out
  }

  .dropdown_menu {
    @apply flex flex-col gap-3 justify-start items-start w-full h-full pl-2 pr-2 py-2 rounded-md text-gray-200 transition-all duration-300 ease-in-out text-sm 
  }

  .dropdown_item {
    @apply w-full hover:text-gray-400 transition-all duration-300 ease-in-out cursor-pointer flex justify-between items-center gap-4 py-2 rounded-md
    hover:scale-108
  }


  .button {
    @apply px-4 py-1 rounded-sm w-2/5 gap-2 cursor-pointer flex justify-center items-center text-lg font-medium transition-all duration-300 ease-in-out shadow-md shadow-gray-900
  }

  .todoForm {
    @apply flex flex-col gap-4 justify-center items-center w-[500px] bg-[#1f2937] p-4 rounded-md shadow-lg shadow-gray-900
  }

  .label {
    @apply w-full flex flex-col gap-1 text-gray-200
  }

  .input {
    @apply bg-black/40 px-4 py-1 rounded-md outline-none focus:border-2 focus:border-blue-700 placeholder:italic
  }

  .inputDateTime {
    @apply bg-black/40 px-2 py-1 rounded-md cursor-pointer w-1/2 outline-none
  }

  .checkbox {
    @apply flex justify-center items-center gap-1 outline-none cursor-pointer accent-green-600 w-4 h-4
  }

  .linkForm {
    @apply bg-gray-900 w-full flex justify-between gap-8  items-center p-4 rounded-md shadow-lg shadow-black/60
  }

  .linkContainer{
    @apply w-full h-4/5 overflow-y-auto gap-4 rounded-md p-4 bg-gray-900 shadow-lg shadow-black/60 relative flex flex-col 
  }

  .documentContainer {
    @apply w-full h-3/5 overflow-y-auto gap-4 rounded-md p-4 bg-gray-900 shadow-lg shadow-black/60 relative flex flex-col 
  }

  .data_container {
    @apply w-full h-full flex flex-col justify-start items-center relative 
  }

  .card_container {
    @apply p-6 flex flex-wrap justify-center  gap-x-10 gap-y-10 max-w-full relative
  }

  .filter_part {
    @apply w-full  flex justify-center lg:justify-start items-center gap-4 px-20 py-16 text-gray-200
  }

  .filter_btn {
    @apply px-4 py-2 rounded-4xl border-2 border-gray-800 hover:bg-gray-800 text-gray-200 transition-all duration-300 ease-in-out cursor-pointer
  }

  .card {
    @apply w-[370px] h-[240px] flex flex-col justify-between items-start gap-1 mb-4 p-4 rounded-md relative bg-gray-800/80 shadow-gray-950 shadow-lg
  }

  .card_label {
    @apply h-[20px] w-[50px] relative rounded-l-md rounded-r-md shadow-xl text-gray-900 font-semibold text-sm flex justify-center items-center bg-gray-700
  }
}

.card_label::before {
  content: '';
  position: absolute;
  top: 0;
  left: -60%;
  width: 200%;
  height: 100%;
  box-shadow: inherit;
  border-top: 0.2px solid rgba(31, 48, 70, 0.69);
  border-bottom: 0.2px solid rgba(31, 48, 70, 0.69);
  border-left: 4px solid rgba(202, 205, 209, 0.223);
  border-right: 2px solid rgba(202, 205, 209, 0.46);
  background-color: inherit;
  border-radius: inherit;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  color: thistle;
}